h1, h2, h3, h4, h5, h6,
ol, ul, p, small.span, button {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}

header {
  margin-top: 16px;
  position: relative;
}
header img {
  position: absolute;
  top: -14px;
  z-index: -1;
}
header .logo a img {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 10px;
}
header .menu a {
  display: inline-block;
  padding: 15px 47px;
  border: 1px solid #5DC4B8;
  font-size: 18px;
  font-weight: 700;
  color: #5DC4B8;
  border-radius: 10px;
}
header .menu a:hover {
  color: red;
}
header .header_banner_content {
  margin-top: 145px;
}
header .header_banner_content h4 {
  font-size: 35px;
  font-weight: 400;
  color: #61C3B8;
  margin-bottom: 18px;
}
header .header_banner_content h1 {
  font-size: 61px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 22px;
}
header .header_banner_content p {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  font-family: "Manrope", sans-serif;
  margin-bottom: 42px;
}
header .header_banner_content a {
  padding: 15px 37px;
  background: #EF633E;
  color: #fff;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
}
header .header_banner_img {
  position: relative;
}
header .header_banner_img img {
  position: absolute;
  top: 0;
}

#card_section {
  margin-top: 250px;
}
#card_section .card_section_title h5 {
  font-size: 23px;
  font-weight: 700;
  color: #61C3B8;
  margin-bottom: 24px;
}
#card_section .card_section_title h2 {
  font-size: 56px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 20px;
}
#card_section .card_section_title p {
  font-size: 17px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 60px;
}
#card_section .card {
  padding: 0px 47px;
  border-top-left-radius: 40%;
  border: none;
  margin-left: 10px;
}
#card_section .card_img {
  position: relative;
}
#card_section .img_2 {
  position: absolute;
  top: 40px;
  right: 40px;
}
#card_section .card_title h5 {
  margin-top: 35px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
#card_section .card_title p {
  font-size: 11px;
  font-weight: 400;
  color: #333333;
  line-height: 28px;
  margin-bottom: 20px;
}
#card_section .card_title h6 {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 28px;
  text-align: center;
}

#about {
  margin-top: 227px;
  height: 627px;
}
#about .about_img {
  background: rgb(252, 238, 233);
}
#about .about_img .about_img_item {
  position: relative;
}
#about .about_img .about_img_item .img_1 {
  position: absolute;
  top: -47px;
  border-radius: 20px;
  border-top-right-radius: 30%;
  border: 2px solid green;
}
#about .about_img .about_img_item .img_2 {
  position: absolute;
  top: 436px;
}
#about .about_img .about_img_item .img_3 {
  position: absolute;
  top: -32px;
  left: 41px;
}
#about .about_img .about_img_item .img_4 {
  position: absolute;
  top: 96px;
  left: -27px;
  border-radius: 20px;
  border-bottom-left-radius: 30%;
  border: 2px solid green;
}
#about .about_content {
  background: rgb(252, 238, 233);
  border-bottom-left-radius: 20%;
}
#about .about_content h5 {
  margin-top: 88px;
  margin-right: 108px;
  font-size: 23px;
  font-weight: 700;
  color: #61C3B8;
  margin-bottom: 30px;
}
#about .about_content h2 {
  margin-right: 108px;
  font-size: 56px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 20px;
}
#about .about_content span {
  display: inline-block;
  margin-right: 108px;
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 29px;
}
#about .about_content p {
  margin-right: 108px;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 42px;
  line-height: 28px;
}
#about .about_content a {
  display: inline-block;
  margin-right: 108px;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #5DC4B8;
  border: 1px solid #5DC4B8;
  margin-bottom: 80px;
  border-radius: 15px;
}

#delicious_food {
  margin-top: 200px;
}
#delicious_food .delicious_food_title h5 {
  font-size: 23px;
  font-weight: 700;
  color: #61C3B8;
  margin-bottom: 25px;
}
#delicious_food .delicious_food_title h3 {
  font-size: 56px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 11px;
}
#delicious_food .delicious_food_title p {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 100px;
}
#delicious_food .delicious_food_item {
  margin-left: 30px;
}
#delicious_food .delicious_food_item .card {
  border: none;
  border-radius: 20px;
}
#delicious_food .delicious_food_item .card_img img {
  padding-right: 32px;
}
#delicious_food .delicious_food_item .card-body {
  padding-right: 32px;
  position: relative;
}
#delicious_food .delicious_food_item .card-body h4 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 7px;
}
#delicious_food .delicious_food_item .card-body .star {
  color: #5DC4B8;
}
#delicious_food .delicious_food_item .card-body .star i:first-child {
  color: #DCDCDC;
}
#delicious_food .delicious_food_item .card-body .p_img_1 {
  position: absolute;
  top: 72px;
  right: 179px;
}
#delicious_food .delicious_food_item .card-body .p_img_2 {
  position: absolute;
  left: 38px;
  bottom: -8px;
}
#delicious_food .delicious_food_link {
  margin-top: 110px;
}
#delicious_food .delicious_food_link a {
  color: #5DC4B8;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #5DC4B8;
  padding: 15px 48px;
  border-radius: 15px;
}

#category {
  margin-top: 180px;
}
#category .category_title h5 {
  font-size: 20px;
  font-weight: 700;
  color: #5DC4B8;
  margin-bottom: 78px;
}
#category .category_item {
  background: rgb(255, 240, 236);
  position: relative;
  border-radius: 30px;
  border-top-left-radius: 30%;
  margin-left: 30px;
}
#category .category_item:nth-child(2) {
  background: rgb(228, 255, 252);
}
#category .category_item:nth-child(3) {
  background: rgb(255, 248, 236);
}
#category .category_item:nth-child(4) {
  background: rgb(255, 240, 236);
}
#category .category_item .cate_1 {
  position: absolute;
  top: -72px;
  left: -20px;
}
#category .category_item .cate_2 {
  z-index: 99;
  position: absolute;
  top: 5px;
  right: 74px;
}
#category .category_item h5 {
  margin-top: 127px;
  margin-bottom: 40px;
}

#gallery {
  margin-top: 263px;
}
#gallery .gallery_content {
  background: rgb(255, 240, 236);
  padding: 100px 0;
  padding-right: 70px;
}
#gallery .gallery_content h5 {
  font-size: 23px;
  font-weight: 700;
  color: #61C3B8;
  margin-bottom: 20px;
}
#gallery .gallery_content h3 {
  font-size: 56px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 20px;
}
#gallery .gallery_content p {
  font-size: 19px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 30px;
}
#gallery .gallery_img {
  background: rgb(255, 240, 236);
  position: relative;
}
#gallery .gallery_img .gally {
  position: absolute;
  top: -52px;
}/*# sourceMappingURL=style.css.map */