// common css start
h1,h2,h3,h4,h5,h6,
ol,ul,p,small.span,button{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}
*{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}
//  common css end

// header section start 
header{
    margin-top: 16px;
    position: relative;
    img{
        position: absolute;
        top: -14px;
        z-index: -1;
    }
    .logo a img{
        display: inline-block;
        margin-top: 24px;
        margin-bottom: 10px;
    }
    .menu a{
        display: inline-block;
        padding: 15px 47px;
        border: 1px solid #5DC4B8;
        font-size: 18px;
        font-weight: 700;
        color: #5DC4B8;
        border-radius: 10px;
        &:hover{
            color: red;
        }
    }
    .header_banner_content{
        margin-top: 145px;
    }
    .header_banner_content h4{
        // margin-top: 40px;
        font-size: 35px;
        font-weight: 400;
        color: #61C3B8;
        margin-bottom: 18px;
    }
    .header_banner_content h1{
        font-size: 61px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 22px;
    }
    .header_banner_content p{
        font-size: 20px;
        font-weight: 400;
        color: #333333;
        font-family: 'Manrope', sans-serif;
        margin-bottom: 42px;
    }
    .header_banner_content a{
        padding: 15px 37px;
        background: #EF633E;
        color: #fff;
        border-radius: 12px;
        font-size: 18px;
        font-weight: 600;
    }
    .header_banner_img{
        position: relative;
        img{
            position: absolute;
            top: 0;
        }
    }
}
// header section end 
// Card section css start 
#card_section{
    margin-top: 250px;
    .card_section_title h5{
        font-size: 23px;
        font-weight: 700;
        color: #61C3B8;
        margin-bottom: 24px;
    }
    .card_section_title h2{
        font-size: 56px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 20px;
    }
    .card_section_title p{
        font-size: 17px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 60px;
    }
    .card{
        padding: 0px 47px;
        border-top-left-radius: 40%;
        border: none;
        margin-left: 10px;
    }
    .card_img{
        position: relative;
    }
    .img_2{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    .card_title h5{
        margin-top: 35px;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .card_title p{
        font-size: 11px;
        font-weight: 400;
        color: #333333;
        line-height: 28px;   
        margin-bottom: 20px;
    }
    .card_title h6{
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        margin-bottom: 28px;
        text-align: center;
    }
}
// Card section css end 
// About Us section css start 
#about{
    margin-top: 227px;
    height: 627px;
    .about_img{
        background: rgba(252, 238, 233, 1);
        .about_img_item{
            position: relative;
            .img_1{
                position: absolute;
                top: -47px;
                border-radius: 20px;
                border-top-right-radius: 30%;
                border: 2px solid green;
            }
            .img_2{
                position: absolute;
                top: 436px;
            }
            .img_3{
                position: absolute;
                top: -32px;
                left: 41px;
            }
            .img_4{
                position: absolute;
                top: 96px;
                left: -27px;
                border-radius: 20px;
                border-bottom-left-radius: 30%;
                border: 2px solid green;
            }
        }
    }
    .about_content{
        background: rgba(252, 238, 233, 1);
        border-bottom-left-radius: 20%;
        h5{
            margin-top: 88px;
            margin-right: 108px;
            font-size: 23px;
            font-weight: 700;
            color: #61C3B8;
            margin-bottom: 30px;
        }
        h2{
            margin-right: 108px;
            font-size: 56px;
            font-weight: 700;
            color: #333333;
            margin-bottom: 20px;
        }
        span{
            display: inline-block;
            margin-right: 108px;
            font-size: 20px;
            font-weight: 400;
            color: #333333;
            margin-bottom: 29px;
        }
        p{
            margin-right: 108px;
            font-size: 18px; 
            font-weight: 400;
            color: #333333;
            margin-bottom: 42px;
            line-height: 28px;
        }
        a{
            display: inline-block;
            margin-right: 108px;
            padding: 16px 30px;
            font-size: 18px;
            font-weight: 700;
            color: #5DC4B8;
            border: 1px solid #5DC4B8;
            margin-bottom: 80px;
            border-radius: 15px;
        }
    }
}
// About Us section css end 
// Delicious Food section css start 
#delicious_food{
    margin-top: 200px;
    .delicious_food_title h5{
        font-size: 23px;
        font-weight: 700;
        color: #61C3B8;
        margin-bottom: 25px;
    }
    .delicious_food_title h3{
        font-size: 56px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 11px;
    }
    .delicious_food_title p{
        font-size: 18px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 100px;
    }
    .delicious_food_item{
        margin-left: 30px;
        .card{
            border: none;
            border-radius: 20px;
            }
        .card_img img{
            padding-right: 32px;
        }
        .card-body{
            padding-right: 32px;
            position: relative;
            h4{
                    margin-top: 20px;
                    font-size: 24px;
                    font-weight: 700;
                    color: #333333;
                    margin-bottom: 7px;
                }
        .star{
            color: #5DC4B8;
            i:first-child{
                color: #DCDCDC;
            }
        }
        .p_img_1{
            position: absolute;
            top: 72px;
            right: 179px;
        }
        .p_img_2{
            position: absolute;
            left: 38px;
            bottom: -8px;
        }
    }
}
   .delicious_food_link{
    margin-top: 110px;
    a{
        color: #5DC4B8;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid #5DC4B8;
        padding: 15px 48px;
        border-radius: 15px;
    }
   }
}
// Delicious Food section css end 
// Category section css start 
#category{
    margin-top: 180px;
    .category_title h5{
        font-size: 20px;
        font-weight: 700;
        color: #5DC4B8;
        margin-bottom: 78px;
    }
    .category_item{
        background: rgba(255, 240, 236, 1);
        position: relative;
        border-radius: 30px;
        border-top-left-radius: 30%;
        margin-left: 30px;
        &:nth-child(2){
            background: rgba(228, 255, 252, 1);
        }
        &:nth-child(3){
            background: rgba(255, 248, 236, 1);
        }
        &:nth-child(4){
            background: rgba(255, 240, 236, 1);
        }
        .cate_1{
            position: absolute;
            top: -72px;
            left: -20px;
        }
        .cate_2{
            z-index: 99;
            position: absolute;
            top: 5px;
            right: 74px;
        }
        h5{
            margin-top: 127px;
            margin-bottom: 40px;
        }
    }
}
// Category section css end 
// Gallery section css start
#gallery{
    margin-top: 263px;
    .gallery_content{
        background: rgba(255, 240, 236, 1);
        padding: 100px 0;
        padding-right: 70px;

        h5{
            font-size: 23px;
            font-weight: 700;
            color: #61C3B8;
            margin-bottom: 20px;
        }
        h3{
            font-size: 56px;
            font-weight: 700;
            color: #333333;
            margin-bottom: 20px;
        }
        p{
            font-size: 19px;
            font-weight: 400;
            color: #333333;
            margin-bottom: 30px;
        }
    }
    .gallery_img{
        background: rgba(255, 240, 236, 1);
        position: relative;
        .gally{
            position: absolute;
            top: -52px;
        }
    }
} 
// Gallery section css end 